/temp*
/gae-static-content/war/WEB-INF/classes/
/gae-static-content/war/WEB-INF/lib/
/gae-static-content/war/WEB-INF/appengine-web.xml
/gae-static-content/war/WEB-INF/web.xml
/gae-static-content/war/static-contents/
/gae-static-content-ut/bin/
/my/*
*.swp
